# Mqtt credentials
MQTT_USER=mqtt_user
MQTT_PW=mqtt_pw
# Influx settings
INFLUX_BUCKET=telegraf/actual
# Grafana settings
GRAFANA_ADMIN_USER=grafana_admin_user
GRAFANA_ADMIN_PW=grafana_admin_pw
GRAFANA_ORG_NAME=grafana_org_name
GRAFANA_USER_NAME=grafana_user
GRAFANA_USER_PASSWORD=grafana_pw